:root {
  --color-primary: #87c232;
  --color-primary-dark: #618930;
  --color-secondary: #6a6e71;
  --color-secondary-light: #8a8e91;
  --color-secondary-dark: #474a4f;
  --color-text: #edf5e1;
  --color-background: #222629;
  --color-neutral: #e2e2e2;
  --color-dark: #000;
  --color-transparent: rgba(0, 0, 0, 0);
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-background);
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--color-primary);
}

h5 {
  font-weight: 700;
  text-transform: lowercase;
  font-variant: small-caps;
  color: var(--color-secondary);
}

h6 {
  font-weight: 400;
  color: var(--color-secondary-dark);
}

p {
  color: var(--color-text);
}

ul {
  color: var(--color-text);
  list-style-type: square;
}

ol {
  color: var(--color-text);
}

dl {
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
  color: var(--color-primary-dark);
}

strong {
  font-weight: 700;
}

mark  {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

table {
  color: var(--color-text);
}
