:root {
  --color-primary: #87c232;
  --color-primary-dark: #618930;
  --color-secondary: #6a6e71;
  --color-secondary-light: #474a4f;
  --color-background: #222629;
  --color-neutral: #e2e2e2;
  --color-dark: #000;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}
