.header {
  background-color: var(--color-background);
  overflow: hidden;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: both;
  text-align: center;
}

.head-txt {
  text-align: center;
  float: none;
  position: relative;
}

.head-txt::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  border-bottom: 2px solid var(--color-primary);
  transition: all .25s ease;
}

.head-txt:hover::after {
  width: 100%;
}

@media only screen and (min-width: 38em) {

  .head-txt {
    text-align: center;
    float: left;
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    clear: none;
    float: right;
    overflow: hidden;
  }

}
