.img-hvr img {
  filter: grayscale(50%) contrast(150%);
  transition: all .3s linear;
}

.img-hvr:hover img {
  filter: grayscale(25%) contrast(100%);
}

.proj-img {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-text-hvr {
  position: relative;
}

.card-text-hvr::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  border-bottom: 2px solid var(--color-primary);
  transition: all .25s ease;
}

.card-text-hvr:hover::after {
  width: 100%;
  text-decoration: none;
}
