<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Contact - Kyle Pereira</title>
  <meta name="description" content="Contact information and social media links.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Contact - Kyle Pereira">
  <meta property="og:url" content="http://kylepereira.ca/">
  <meta property="og:site_name" content="Kyle Pereira Portfolio">
  <meta property="og:description" content="Contact information and social media links.">
  <meta property="og_locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kylepereiraGD">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
</head>
<body>

  {% pattern header/header %}
  {{content}}
  {% pattern footer/footer-contact %}
  <script src="/js/main.js"></script>

</body>
</html>
